In [14]:
import pandas as pd
pd.__version__

'1.4.2'

In [15]:
import seaborn as sns
import matplotlib.pyplot as plt

In [16]:
import sklearn

In [17]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [18]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet')

In [19]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [20]:
import sklearn

In [21]:
sklearn.__version__

'1.0.2'

In [22]:
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)

In [23]:
df['duration']=df.tpep_dropoff_datetime-df.tpep_pickup_datetime
df.duration=df.duration.apply(lambda td: td.total_seconds()/60)

In [24]:
((df.duration>=1)&(df.duration<=60)).mean()

0.9812202822125979

In [25]:
df.duration.describe()

count    3.066766e+06
mean     1.566900e+01
std      4.259435e+01
min     -2.920000e+01
25%      7.116667e+00
50%      1.151667e+01
75%      1.830000e+01
max      1.002918e+04
Name: duration, dtype: float64

In [26]:
categorical=['PULocationID','DOLocationID']
numerical = ['trip_distance']

In [27]:
df[categorical]=df[categorical].astype(str)

In [28]:
train_dicts=df[categorical+numerical].to_dict(orient='records')

In [ ]:
dv=DictVectorizer()
X_train=dv.fit_transform(train_dicts)

In [ ]:
df.dtypes

In [ ]:
X_train

In [ ]:
target='duration'
y_train=df[target].values

In [ ]:
y_train

In [ ]:
lr=LinearRegression()
lr.fit(X_train,y_train)

In [ ]:
y_pred=lr.predict(X_train)

In [ ]:
sns.displot(y_pred,label='prediction')
sns.displot(y_pred,label='actual')
plt.legend()

In [ ]:
mean_squared_error(y_train, y_pred, squared=False)